body {
    background-color: #f1f1f1;
    font-size: 15px;
    font-family: "Arimo", sans-serif;
    color: #757575;
}

h1, .h1, h2, .h2, h3, .h3 {
    font-family: "Arimo", sans-serif;
    color: #292929;
    font-weight: 400;
}
h1, .h1 {
    font-size: 36px;
}
h2, .h2 {
    font-size: 24px
}
h3, .h3 {
    font-size: 20px;
}

.container {
    max-width: 1230px;
    padding: 0 25px;
    width: 100%;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    & *:first-child {
        margin-top: 0;
    }

}
.std-block {
    padding: 40px;
    margin: 20px 0;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
}
pre {
    background-color: #f1f1f1;
    padding: 20px;
    overflow: auto;
}
.btn {
    display: inline-block;
    line-height: 40px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    padding: 0 20px;
    border: 0 none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    cursor: pointer;
}


#header {
    display: block;
    position: relative;
    background-color: #000;
    margin: 0 0 26px;

    &::before, &::after {
        display: table;
        width: 100%;
        content: "";
        height: 0;
    }

    h3 {
        color: #c9c9c9;
        margin-top: 1em;
    }

}


#right-side {
    position: relative;
    float: right;
    width: 31.7%;
    top: 0;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;

    .aside-btn {
        display: none;
    }

    nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 1em 0;
            margin: 0;
            border-bottom: 1px solid #dbdbdb;

            &:last-child {
                border-bottom: 0 none;
            }

            a {
                color: #757575;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }

        }
    }

}
#content {
    float: left;
    width: 65.8%;
}
#main {
    &::after {
        display: table;
        content: "";
        clear: both;
    }
}


#news {
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;

        li {
            padding: 0 0 20px;
            margin: 0 0 20px;
            border-bottom: 1px solid #dbdbdb;

            p {
                margin: 0;
            }

            .date {
                display: block;
            }

            a {
                text-decoration: none;
                display: block;
                margin: 1em 0 1em 226px;
            }
            &:nth-child(2n) a {
                margin: 1em 226px 1em 0;
            }

            &:nth-child(2n) img {
                float: right;
                margin: 0 0 0 20px;
            }
            &:nth-child(2n + 1) img {
                float: left;
                margin: 0 20px 0 0;
            }
            &:last-child {
                border-bottom: 0 none;
            }
            &:after {
                display: table;
                content: "";
                clear: both;
            }

        }

    }
}



#popup {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0,0,0,.3);
    
    .wrapper {
        display: block;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        margin: -215px 0 0 -150px;
        background-color: #f1f1f1;
        width: 300px;
        height: 430px;
        padding: 40px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .area {
        margin: 0 0 20px;

        input[type="text"],
        input[type="tel"],
        input[type="email"],
        textarea {
            display: block;
            padding: 5px 12px;
            width: 100%;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }
        textarea {
            height: 60px;
        }
    }
    label.error {
        position: absolute;
        color: red;
        font-size: 0.8em;
    }

}

.icons-sprites {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .ico {
        display: inline-block;
        margin-left: 15px;
        i {
            display: inline-block;
            width: 22px;
            height: 20px;
            background: #fff url("../img/ico.png") no-repeat 0 0;
        }
        &.photo i {
            background-position: -3px 3px;
            margin: 0 0 -2px;
        }
        &.watch i {
            background-position: -25px 3px;
            margin: 0 0 -2px;
        }
        &.favorite i {
            background-position: -47px 3px;
            margin: 0 0 -2px;
        }
        span {
            display: inline-block;
            line-height: 20px;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
.icons-font {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .ico {
        display: inline-block;
        margin-left: 15px;
        i {
            display: inline-block;
            width: 22px;
            height: 20px;
        }
        span {
            display: inline-block;
            line-height: 20px;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}
.icons-b64 {
    padding: 0;
    margin: 0;
    list-style-type: none;
    .ico {
        display: inline-block;
        margin-left: 15px;
        i {
            display: inline-block;
            width: 22px;
            height: 20px;
        }
        &.photo i {
            margin: 0 0 -2px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAOCAMAAAD+MweGAAAA2FBMVEVEf79GnthIebpJhL5Nf7RVZKZXX3RXX3pXX5VXvOxXvPFaWlpaWl9aWmRaWoBdZG9ejr5hWlpkhJRubm5vWlpxqd1yZF9yzPt6qcN8Wlp9bm6BX1mF2/WF2/+QX1mRWlqZhG2k0eyl6/+snqmx1uu1ZFm2+f/Is5LJf13K//nPf1jR0dHU6/XVnnfY9P/Zjm3aiVfek1bi/+ri//Ti///tvJHw///y1rv09PT3///6vHv60bH/x4b/26H/5rX/67r/6+D/78D//9n//+X//+r///T///n///8sv+wkAAAAjUlEQVR42lXI1RLCMBCF4cUpG6QEt+LuUmhxzfu/EdtkJpT/4syZDwT13lU4lbcFJeVSRq9kXcmxyQuoSvNsS8A5h/5YEVx5oqXJoCqfoSQ8/xyc5/Anqfa1gbHa3dIS3CxpQa4SWI9pI6OVlnjfNZEZj54WDNj7TlcQa2GZqXObEXhywv8S8FqYfghtv17KF8Wl5V9lAAAAAElFTkSuQmCC);
            background-position: bottom left;
            background-repeat: no-repeat;
        }
        &.watch i {
            margin: 0 0 -2px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAMCAMAAABYzB2OAAABEVBMVEVsi7hsodJsodZtv+twj8Fws+hxmMlyi6t0eox1v+t2dnZ2dnp2dn52gpB2gpl2qtt6eox7dn6BoaaCgoKCgpCFenaFeoKFv96G1PiJ0PSMzO+NdnaRenaRnJiRw96R2f+Ss82TdpaTv9WU4f+WfnWXen6YdnaZpZyglHmhfnWlpaWrw9qtfnWtfn6y8v+1h3W6nI/Ah3XD7vvKoYrKs6XLr5fMmIHPj3TPoY7Qi3XXlHTZ8vraoYDg8vbg8v/g/+ng///j7tzkoXzpqnzt///xr3vz///35sv35tP40Kj4///54dn/x5L/6rT/6r3/6sb/8tj/8tz/9s7/9tP/+vb//+X//+n//+3///b///r////fCInbAAAAmUlEQVR4AWOIwgAQoUhvEy0tbWuEUKSnDBeHugoXF7sRVCjchk+DwdFUmotbVkwKLBThxGJvKWnFBQTMfqoSICEfBodQQyE1kBBrlK+iHlDIldEtypkLBHjko4J0lYFCwTqcQAwSYnILM2dyAxnvr8nvEmghLCLnEqDP5gBxRKCZgJKtV4iHsaC4C9yp7gaiXFy8CnZQp2IAAPOvM4OJa8w/AAAAAElFTkSuQmCC);
            background-position: bottom left;
            background-repeat: no-repeat;
        }
        &.favorite i {
            margin: 0 0 -2px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAANCAMAAAB4p3UoAAAAk1BMVEU6k85SeapXX4BXX6FaWlpaWl9aWmpaWnVaWqFhWlpivOxkhJRtx+xuboVvWlpyzPF0X298Wlp/1vaD0faEs8iJX1mMbm6Y5v+ZhG2l6/+px+ewX1m3eV7D///Ps5LU69rek1zg9P/w///xx7L3x4v3///6vIH8zJD/0Zz/1pv/5rD/67r/9OX//9T///T///n////6gz4IAAAAbklEQVR4AW3LZwpCMRBF4VFj7M/ejb0XPftfnYYZJMo7fy58cAXuy1FjtuW5m7QGGxBuQ/epsFrEKU6R19qlyUEe8x8phX+phpwX124ClTECx9oXynWisM8MfBMVTkq+jYqRgQnnzPk+qXDp9NDeEBETANNab7oAAAAASUVORK5CYII=);
            background-position: bottom left;
            background-repeat: no-repeat;
        }
        span {
            display: inline-block;
            line-height: 20px;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

@media all and (max-width: 970px) {
    #news ul li.single {
        img {
            float: none;
            margin: 0;
        }
        .date {
            clear: both;
            margin: 1em 0 0;
        }
        a {
            display: inline-block;
            margin: 1em 0;
        }
    }
}

@media all and (max-width: 760px ){
    #right-side {
        position: absolute;
        z-index: 100;
        right: 0;
        float: none;
        width: auto;
        margin-top: 60px;
        
        .aside-btn {
            display: block;
            position: absolute;
            top: 60px;
            right: -30px;
            width: 60px;
            height: 60px;
            cursor: pointer;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg);
            background-color: #fff;
            -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
            -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
            box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
        }
        .std-block {
            overflow: hidden;
            width: 0;
            padding: 0;
        }
        &.open .std-block {
            padding: 40px;
            width: 100%;
        }
        &.open .std-block {
            width: 100%;
            padding: 40px;
        }
    }
    #content {
        width: 100%;
    }
    #wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }
}
